.all{
    width: 1000px;
    margin: 30px auto 0;
    height: 1000px;
}

.h1-all{
    font-size:30px;
}

#hand-icon{
    color: rgb(255, 196, 0);
}

.p1-all{
    color: #616060;
    margin-bottom:50px;
}

.p1-all:hover{
    color: black;
}

.input-email{
    background-color: #e8f6f8;
    width:250px;
    height: 25px;
    border-radius:10px;
    border: gainsboro solid 1.6px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.input-password{
     background-color: #e8f6f8;
    width:250px;
    height: 25px;
    border-radius:10px;
    border: gainsboro solid 1.6px;
    margin-bottom: 10px;   
}

.a-in-input{
    text-decoration: none;
    margin-left: 160px;
    font-size: small;
}

.a-in-input:hover{
    color: #000000;
}

.button1{
    background-color: rgb(35, 35, 35);
    color: #ffffff;
    border-radius:9px;
    border: solid 1px;
    height:45px !important;
    width:250px;
    margin-top: 10px;
}

.button1:hover{
    background-color: #ffffff;
    color: black;
    border: solid 1px;
}

.p2{
    color: #616060;
    display: flex;
    margin-top: 50px;
}

.p2-in-p2{
    margin-top: 23px;
    margin-right:7px;
    margin-left:7px;
}

.button-2-and-3{
    margin-top: 20px;
}


.button2{
    background-color:#e8f6f8;
    border-radius: 15px;
    border: solid 0;
    width: 180px;
    height: 45px;
    margin-bottom:10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button2:hover{
    background-color: black;
    color: #ffffff;
}

.google-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: -20px;
}

.p-in-button2{
    font-size:20px;
    color: #272727;
}

.button3{
    background-color:#e8f6f8;
    border-radius: 15px;
    border: solid 0;
    width: 180px;
    height: 45px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button3:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.Facebook-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.p-in-button3{
    font-size: 20px;
    margin-right:20px;
}


.div-p3{
    margin-left: 20px;
}

.a-in-p3{
    text-decoration: none;
}

.a-in-p3:hover{
    color: gray;
}

.div-img{
    background-image: url('../img/صورة\ الورد\ .jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #616060;
    border-radius: 30px;
    width: 55%;
    height: 650px;
    float: right;
    margin: 0;
}
















.form-box{
    float: left;
    width: 40%;
}

.mobile-text{
    display: none;
}

.desktop-text{
    display: none;
}

.clearfix{
    clear: both;
}

/* Start Media Query */


@media (max-width: 767px) { /* Small Screens */
.all{
    width: 100%;
}

.div-img{
    float: none;
    width:100%;
    height: 250px;
}

.form-box{
    width: 100%;
}

  .h1-all{
    font-weight: bold;
    margin-left: 5%;
  }

  .p1-all{
    font-size:20px;
    margin-left: 5%;
  }

  .label-inputs{
    margin-left: 5%;

  }

  .inputs{
    width:90%;
    height: 40px;
    margin-left: 5%;
  }

  .a-in-input{
    float: right;
    font-size:15px;
    margin-right:4%;
    
  }

  .button1{
    height:40px;
    width:90%;
    margin-left:5%;

  }

  .p2{
    font-size: larger;
    margin-left:6%;
  }

   .desktop-text{
        display: none;
    }

    .mobile-text{
        display: block; 
    }

    .button2,
    .button3{
        float: left;
        width: 48%;
    }
    
    .button2{
        margin-right: 4%;
    }
    
    .div-p3{
        text-align: center;
        margin-top:75px;
        font-size: 22px;
    }

}




@media (min-width: 768px) and (max-width: 991px) { /* Medium Screens */


}


@media (min-width: 992px) and (max-width: 1199px) { /* Large Screens */


}


@media (min-width: 1200px) { /* Extra Large Screens */

    
}

/* End Media Query */